<h2>
  mergeMap / concatMap /switchMap / exhaustMap
</h2>
<h3>
  This form simulates requests for poor network conditions. Type fast and see
  what happens below.
</h3>
<form [formGroup]="mergeMapForm">
  <mat-form-field>
    <mat-label for="input1"> mergeMap</mat-label>
    <input matInput id="input1" type="text" formControlName="input1" />
  </mat-form-field>
</form>

<form [formGroup]="concatMapForm">
  <mat-form-field>
    <mat-label for="input2">concatMap</mat-label>
    <input matInput id="input2" type="text" formControlName="input2" />
  </mat-form-field>
</form>

<form [formGroup]="switchMapForm">
  <mat-form-field>
    <mat-label for="input3">switchMap</mat-label>
    <input matInput id="input3" type="text" formControlName="input3" />
  </mat-form-field>
</form>

<form [formGroup]="exhaustMapForm">
  <mat-form-field>
    <mat-label for="input4">exhaustMap</mat-label>
    <input matInput id="input4" type="text" formControlName="input4" />
  </mat-form-field>
</form>


<div *ngFor="let event of events">
  {{event | json}}
</div>