<h2>
  mergeMap / concatMap /switchMap / exhaustMap
</h2>
<h3>
  This form simulates requests with random delays. Type fast and see
  what happens below.
</h3>
<form [formGroup]="mergeMapForm">
  <mat-form-field>
    <mat-label for="mergeMap"> mergeMap</mat-label>
    <input matInput id="mergeMap" type="text" formControlName="mergeMap" />
  </mat-form-field>
</form>

<form [formGroup]="concatMapForm">
  <mat-form-field>
    <mat-label for="concatMap">concatMap</mat-label>
    <input matInput id="concatMap" type="text" formControlName="concatMap" />
  </mat-form-field>
</form>

<form [formGroup]="switchMapForm">
  <mat-form-field>
    <mat-label for="switchMap">switchMap</mat-label>
    <input matInput id="switchMap" type="text" formControlName="switchMap" />
  </mat-form-field>
</form>

<form [formGroup]="exhaustMapForm">
  <mat-form-field>
    <mat-label for="exhaustMap">exhaustMap</mat-label>
    <input matInput id="exhaustMap" type="text" formControlName="exhaustMap" />
  </mat-form-field>
</form>


<div *ngFor="let event of events">
  {{event | json}}
</div>